<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <div class="text-center">
      <img src="*IMAGE GRABBED FROM USERS TABLE*" class="rounded" alt="...">
    </div>
    <p class="text-center">This is <%= user[0].name %>'s account! They have been here since <%= user[0].joined_timestamp %></p>
    <p class="text-center">About <%= user[0].name %>: <%= user[0].bio %></p>
  </div>
</main>

<%- include ('../partials/footer') %>